
  <div class="row" data-off-canvas-wrapper>

    <div class="small-2 columns left-column" data-off-canvas data-position="left">
      <div class="row column">
        <br>
        <h5>Categories</h5>
        <ul class="side-list">
          <% current_user.categories.all.each do |item| %>
            <li><%= link_to(item.title, category_path(item.id)) %>
          <% end %></li>
        </ul>
      </div>
      <%= link_to '+', new_category_path, :class => "btn-floating btn-large waves-effect waves-light red btn" %>

    </div>

    <div class="small-10 columns z-depth-3" data-off-canvas-content>
      <div class="title-bar hide-for-large">
        <div class="title-bar-left">
          <button class="menu-icon" type="button" data-open="my-info"></button>
        </div>
      </div>
      <div class="callout primary">
        <div class="row column">
          <div class="row">
           <div class="col s12">
              <%= render 'all_records' %>
            </div>
            <div class="col s12">
              <%= render 'all_categories' %>
            </div>
         </div>
        </div>
      </div>
    </div>
  </div>
